<h1>Actualizar Usuario</h1>

{{#usuarioUpdate}}
    <h1>Detalles del Usuario</h1>
    <ul>
        <li><strong>Nombre:</strong> {{name}}</li>
        <li><strong>Email:</strong> {{email}}</li>       
    </ul>
{{/usuarioUpdate}}
